*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@mixin posElem(){
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    background-color: rgb(96, 96, 255);
    font-size: 16px;
}

#setup{
    font-size: 2rem;
}
#punchline{
    font-size: 1.5rem;
}
main{
    width: 100%;
    height: 100vh;
    @include posElem();
    flex-direction: column;
    gap: 30px;
    #main_container{
        max-height: 600px;
        background-color: blue;
        width: clamp(50%, 300px, 90%);
        padding: 20px;
        
    }
}
input[id="btn"]{
    // display: none;
}
input[id="btn"]:checked ~ #main_container {
    background-color: red !important;
    
}